@CHARSET "UTF-8";

 
.commonDetailTable th{
	border: 1px solid #eaeaea;
	background: #f9ffff;
	color: black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	width: 5%; 
	text-align: right;
}
