<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- 전체 행의 개수 이거 사용. -->
	<select id="boardListCount" parameterType="java.util.Map"
		resultType="int">
		select count(*) as cnt
		FROM TB_BOARD
		where ACTIVE_FLG='Y' AND BOARD_MNG_NO = #{BOARD_MNG_NO}
	    <if test="keyword !=null and keyword !=''">
 			and(title like concat('%', #{keyword}, '%') )
		</if> 
	</select>
 
 
	<select id="BoardList" parameterType="java.util.Map" resultType="com.core.plus.board.vo.BoardVO">
		SELECT b.*
		FROM ( 
		SELECT
		BOARD_NO,
	    BOARD_MNG_NO,
	    FILE_CD, TITLE,
	    CONTENT, 
	    VIEW_CNT, 
	    ACTIVE_FLG, 
	    DEL_FLG, 
	    CREATED_BY, 
	    DATE_FORMAT(CREATED, '%Y-%m-%d %H:%i') CREATED, 
	    UPDATED_BY, 
	    DATE_FORMAT(UPDATED, '%Y-%m-%d %H:%i') UPDATED
		FROM tb_board
		WHERE ACTIVE_FLG='Y' and BOARD_MNG_NO = #{BOARD_MNG_NO}
 		<if test="keyword !=null and keyword !=''">
 			and(title like concat('%', #{keyword}, '%') )
		</if> 
	    ORDER BY BOARD_NO DESC
		
		) b 
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	 

	<select id="ReadPage" resultType="com.core.plus.board.vo.BoardVO">
		SELECT
		 A.TITLE, 
		 A.CONTENT,
		 A.BOARD_MNG_NO,
		 A.BOARD_NO,
		 DATE_FORMAT(A.CREATED, '%Y-%m-%d %H:%i') CREATED, 
		 A.CREATED_BY, 
		 A.VIEW_CNT, 
		 B.REPLY_FLG,
		 A.FILE_CD
		FROM TB_BOARD A, TB_BOARD_MNG B
		WHERE BOARD_NO = #{BOARD_NO} AND A.BOARD_MNG_NO = B.BOARD_MNG_NO
	</select>

	<select id="ReadFilePage" resultType="com.core.plus.board.vo.BoardVO">
		SELECT
		 A.TITLE,
		 A.CONTENT,
		 A.BOARD_MNG_NO, 
		 A.BOARD_NO, 
		 DATE_FORMAT(A.CREATED, '%Y-%m-%d %H:%i') CREATED,
		 A.CREATED_BY,
		 A.VIEW_CNT, 
		 B.REPLY_FLG, 
		 C.FILE_CD, 
		 C.FILE_NM
		FROM TB_BOARD A, TB_BOARD_MNG B, TB_FILE C
		WHERE BOARD_NO = #{BOARD_NO} AND A.BOARD_MNG_NO = B.BOARD_MNG_NO AND
		A.FILE_CD = C.FILE_CD
	</select>

	<insert id="InsertBoard" parameterType="com.core.plus.board.vo.BoardVO">
		INSERT INTO TB_BOARD (BOARD_NO, BOARD_MNG_NO, FILE_CD, TITLE, CONTENT,
		VIEW_CNT, CREATED_BY, UPDATED_BY)
		VALUES((select *from (select max(board_no)+1 from tb_board) next), #{BOARD_MNG_NO},(SELECT FILE_CD FROM TB_FILE
		WHERE FILE_NM =#{FILE_NM} and CREATED = now()), #{TITLE}, #{CONTENT}, '0',
		#{CREATED_BY}, #{UPDATED_BY})

	</insert> 


	<select id="readBoardFile" resultType="com.core.plus.board.vo.BoardVO">

		SELECT A.TITLE, A.CONTENT, A.BOARD_MNG_NO, A.BOARD_NO, A.CREATED,
		A.VIEW_CNT, B.REPLY_FLG, C.FILE_NM, C.FILE_CD
		FROM TB_BOARD A, TB_BOARD_MNG B, TB_FILE C
		WHERE BOARD_NO = #{BOARD_NO} AND A.BOARD_MNG_NO = B.BOARD_MNG_NO AND
		C.FILE_CD = A.FILE_CD

	</select>

	<select id="readBoard" resultType="com.core.plus.board.vo.BoardVO">

		SELECT A.TITLE, A.CONTENT, A.BOARD_MNG_NO, A.BOARD_NO, A.CREATED,
		A.VIEW_CNT, B.REPLY_FLG, A.FILE_CD
		FROM TB_BOARD A, TB_BOARD_MNG B
		WHERE BOARD_NO = #{BOARD_NO} AND A.BOARD_MNG_NO = B.BOARD_MNG_NO

	</select>

	<update id="removeBoard" parameterType="String">
		update tb_board set active_flg = 'N'
		where BOARD_NO = #{BOARD_NO}
	</update>

	<update id="removeDetail" parameterType="int">
		update tb_board set active_flg = 'N'
		where BOARD_NO = #{BOARD_NO}
	</update>

	<update id="viewadd" parameterType="int">
		update tb_board set view_cnt = view_cnt + 1
		where BOARD_NO = #{BOARD_NO}
	</update>

	<update id="ModifyBoard"> 
		update tb_board set title = #{TITLE}, content = #{CONTENT}, updated_by = #{UPDATED_BY}, file_cd = (SELECT FILE_CD FROM TB_FILE
		WHERE FILE_NM =#{FILE_NM} and CREATED = now()), UPDATED = now()
		where BOARD_NO = #{BOARD_NO}
	</update>
 
   
	<insert id="insertAttachData" parameterType="com.core.plus.board.vo.BoardVO"> 
		insert into TB_FILE (FILE_CD, FILE_NO, FILE_PATH, FILE_NM, FILE_EXT,
		CREATED_BY)
		values (
		(
	 SELECT IF(SUBSTR(MAX(FILE_CD), 1, 3) = 'FIL', concat(SUBSTR(MAX(FILE_CD),1,3) , LPAD(SUBSTR(MAX(FILE_CD),4,7)+1, 7, '0')), concat('FIL','0000001')) FILE_CD 
     FROM TB_FILE a USE INDEX(PRIMARY)  
		), 
		(select * from (select max(FILE_NO)+1 from tb_FILE) next),	
		#{FILE_PATH},
		#{FILE_NM},
		#{FILE_EXT},
		#{CREATED_BY}
		)

	</insert>

	<select id="searchOneFiledata" parameterType="java.lang.String"
		resultType="map">
		SELECT *
		FROM TB_FILE
		WHERE FILE_CD=#{FILE_CD}
	</select>
 
	
	
	<select id="fileboardList" resultType="com.core.plus.board.vo.BoardVO">
	 SELECT *
        FROM 
        (
        SELECT * FROM TB_BOARD WHERE BOARD_MNG_NO = 'BMG1000002' AND ACTIVE_FLG ='Y' ORDER BY CREATED DESC
        ) 
        WHERE ROWNUM <![CDATA[<= 5 ]]> 
	</select>
	
	<delete id = "file_remove" parameterType="java.lang.String">
	delete from tb_file
	where FILE_CD = #{FILE_CD}	
	</delete>
	
	<update id = "file_removeMd" parameterType="java.lang.String">
	update tb_board set FILE_CD = ''
	where FILE_CD  = #{FILE_CD}
	</update>
	
	<select id ="checkBoardMngNo" parameterType="java.lang.String" resultType="com.core.plus.boardmng.vo.BoardMngVO">
	select * from TB_BOARD_MNG
	WHERE BOARD_MNG_NO = #{BOARD_MNG_NO}
	</select>


</mapper>