<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code">

	<!-- Paging -->
	<select id="codeListTotalRow" resultType="int">
		SELECT 
			count(*)
		FROM tb_code
		WHERE 1=1
			and display_yn = 'Y'
	      	<if test="code_no_srch != null and code_no_srch != ''">
	            AND (code_no like concat('%', #{code_no_srch}, '%'))
	         </if>
	         <if test="code_srch != null and code_srch != ''">
	            AND (code like concat('%', #{code_srch}, '%'))
	         </if>
	         <if test="code_name_srch != null and code_name_srch != ''">
	            AND (code_name like concat('%', #{code_name_srch}, '%'))
	         </if>
	</select>
	
	<!-- 상위코드 팝업 페이징 -->
	<select id="codePopupRow" resultType="int">
		SELECT 
			count(*)
      	FROM tb_code
      	WHERE display_yn = 'Y'
			<if test="s_code_no != null and s_code_no != ''">
				AND (code_no like concat('%', #{s_code_no}, '%'))
			</if>
	</select>

	<!-- List -->
	<select id="codeList" resultType="com.core.plus.code.vo.CodeVO" parameterType="java.util.Map">
		SELECT P.*
		FROM (
				select 
					code_no ,
					code ,
					code_name , 
					date_format(create_date, '%Y-%m-%d %H:%i') as create_date
				from tb_code
				where 1=1 
					and display_yn = 'Y'
					<if test="code_no_srch != null and code_no_srch != ''">
			            AND (code_no like concat('%', #{code_no_srch}, '%'))
			         </if>
			         <if test="code_srch != null and code_srch != ''">
			            AND (code like concat('%', #{code_srch}, '%'))
			         </if>
			         <if test="code_name_srch != null and code_name_srch != ''">
			            AND (code_name like concat('%', #{code_name_srch}, '%'))
			         </if>
				order by update_date desc	
			  )p
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
   
	<!-- 상세보기 -->
	<select id="codeDetail" parameterType="java.util.Map" resultType="com.core.plus.code.vo.CodeVO">
		select 
			code_no ,
			code ,
			code_name ,
			display_yn ,
			par_code_no 
		from tb_code
		where 1=1 
			and code_no = #{code_no}
			and code = #{code}
	</select>
	
	<insert id="codeInsert"  parameterType="com.core.plus.code.vo.CodeVO">
		insert into tb_code
		(
			code_no ,
			code ,
			code_name ,
			display_yn ,
			par_code_no
			
		)	
		values
		(
			#{code_no} ,
			#{code} ,
			#{code_name} ,
			#{display_yn} ,
			#{par_code_no}
		)
	</insert>  
	
	<update id="codeEdit"  parameterType="com.core.plus.code.vo.CodeVO">
		update tb_code
		set code_name   = #{code_name},
			display_yn  = #{display_yn},
			par_code_no = #{par_code_no}
		where 1=1
			and code_no = #{code_no} 
			and code 	= #{code}
	</update>
	
	<delete id="codeDelete"  parameterType="com.core.plus.code.vo.CodeVO">
		update tb_code
      set display_yn = 'N'
      where 1=1
      		and code_no = #{code_no} 
			and code 	= #{code}
	</delete>
	
	<!-- PopUp -->
	<select id="codePopupList" resultType="com.core.plus.code.vo.CodeVO" parameterType="java.util.Map">
    	SELECT P.*
      	FROM (
	      SELECT
	         code_no,
	         code,
	         code_name
	      FROM
	         tb_code
	      WHERE
	         display_yn = 'Y'
	      <if test="s_code_no != null and s_code_no != ''">
	         AND (code_no like concat('%', #{s_code_no}, '%'))
	      </if>
       )p
       LIMIT #{page.limitStartNum}, #{page.pageSize}
   </select>

</mapper>