<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="custAddr">
	<select id="custAdDetailList" resultType="com.core.plus.contact.cust.vo.CustVO" parameterType="String">
		select
			c.addr_type_cd
			,c.road_yn
			,c.zip_no
			,c.main_address
			,c.detail_address
			,c.primary_yn
		from tb_cust_addr c
		where
			c.cust_no = #{cust_no}
		order by c.primary_yn desc
	</select>
	
	<insert id="custAdInsert" parameterType="com.core.plus.contact.cust.vo.CustVO">
		insert into tb_cust_addr (
								cust_no
								,addr_type_cd
								,zip_no
								,main_address
								,detail_address
								,primary_yn
		)
		values(
			#{cust_no}
           	,#{addr_type_cd}
           	,#{zip_no}
           	,#{main_address}
           	,#{detail_address}
           	,#{primary_yn}
		)
	</insert>
	
	<update id="custAdDelete" parameterType="String">
		delete
		from tb_cust_addr
		where cust_no = #{cust_no}
	</update>

</mapper>