<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">
	
	<select id="searchUser" parameterType="map" resultType="int">
		SELECT count(*) as count
		FROM tb_user
		WHERE user_id=#{id_nm} and pwd=#{pwd}
	</select>
	
	  <!-- 사용자정보 조회  -->
	<select id="selectUser" parameterType="com.core.plus.login.vo.LoginVO" resultType="com.core.plus.login.vo.LoginVO">
		SELECT *
		FROM
		    tb_user
		WHERE
			user_id = #{user_id} AND
			act_yn = 'Y'
	</select>
	
	 <!-- 사용자 비밀번호 오류 횟수 설정  -->
	<update id="updatePwdErnmYn" parameterType="com.core.plus.login.vo.LoginVO">
		UPDATE
		    tb_user
		SET
		    pwd_err_cnt = #{pwd_err_cnt}
		WHERE
		    user_id = #{user_id}
	</update>
	
	<select id="menuAuth" parameterType="java.util.Map" resultType="ibs.mid.bon.manager.info.menu.vo.MenuVo">
	   SELECT b.crt_yn, b.mdfy_yn, b.del_yn, b.rtrv_yn
		FROM mid.tm_com_user_auth a, mid.tm_com_auth_menu b, mid.tm_com_user c, mid.tm_com_menu d
		WHERE a.auth_id = b.auth_id
		  AND a.user_id = c.user_id
		  AND d.menu_id = b.menu_id
		  AND a.user_id = #{user_id}
		  AND d.menu_url = #{menu_url}
		  order by b.menu_id desc
		  FETCH FIRST 1 ROWS ONLY
	</select>
	
</mapper>