<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oppty">

	<!-- Paging -->
	<select id="opptyListTotalRow" resultType="int">
		SELECT count(*)
		FROM tb_oppty
		WHERE del_yn = 'N'
		<if test="oppty_no_srch != null and oppty_no_srch != ''">
			AND (oppty_no like concat('%', #{oppty_no_srch}, '%'))
		</if>
		<if test="oppty_name_srch != null and oppty_name_srch != ''">
			AND (oppty_name like concat('%', #{oppty_name_srch}, '%'))
		</if>
		<if test="cust_name_srch != null and cust_name_srch != ''">
			AND (cust_no in ( select cust_no from tb_cust where cust_name like concat('%', #{cust_name_srch}, '%')))
		</if>
		<if test="emp_name_srch != null and emp_name_srch != ''">
			AND (emp_no like ( select emp_no from tb_emp where emp_name like concat('%', #{emp_name_srch}, '%')))
		</if>
		<if test="oppty_status_cd_srch != null and oppty_status_cd_srch != ''">
			AND (oppty_status_cd like concat('%', #{oppty_status_cd_srch}, '%'))
		</if>
		<if test="oppty_stage_cd_srch != null and oppty_stage_cd_srch != ''">
			AND (oppty_stage_cd like concat('%', #{oppty_stage_cd_srch}, '%'))
		</if>
		<if test="exp_close_dt_srch != null and exp_close_dt_srch != ''">
			AND (exp_close_day like concat('%', #{exp_close_dt_srch}, '%'))
		</if>
		<if test="dtype_cd_srch != null and dtype_cd_srch != ''">
			AND (dtype_cd like concat('%', #{dtype_cd_srch}, '%'))
		</if>
		<if test="purchase_type_srch != null and purchase_type_srch != ''">
			AND (purchase_type like concat('%', #{purchase_type_srch}, '%'))
		</if>
	</select>
	
	<!-- Paging -->
	<select id="custPopupRow" resultType="int">
		SELECT count(*)
	    FROM tb_cust
	    WHERE del_yn = 'N'
	    <if test="s_cust_name != null and s_cust_name != ''">
	      AND (cust_name like concat('%', #{s_cust_name}, '%'))
	    </if>
	</select>
	
	<select id="empPopupRow" resultType="int">
		SELECT count(*)
		FROM tb_emp
		WHERE del_yn = 'N'
		<if test="s_emp_name != null and s_emp_name != ''">
			AND (emp_name like concat('%', #{s_emp_name}, '%'))
		</if>
	</select>
	
	<select id="mainCatePopupRow" resultType="int">
		SELECT
			count(*)
		FROM
			tb_code
		WHERE
			code_no='1015'
	</select>
	
	<select id="midCatePopupRow" resultType="int">
		SELECT
			count(*)
		FROM
			tb_code a, tb_price_book b
		WHERE
			a.code=b.mid_cate_cd
			AND a.code_no='1016'
			AND b.main_cate_cd=#{main_cate_cd}
	</select>
	
	<select id="smallCatePopupRow" resultType="int">
		SELECT
			count(*)
		FROM
			tb_code a, tb_price_book b
		WHERE
			a.code = b.small_cate_cd
			AND b.main_cate_cd = #{main_cate_cd}
			AND b.mid_cate_cd  = #{mid_cate_cd}
			AND a.code_no='1017'
	</select>
	
	<!-- List -->
	<select id="opptyList" resultType="com.core.plus.oppty.vo.OpptyVO" parameterType="java.util.Map">
		SELECT P.*
		FROM (
		SELECT 
			oppty_no,
			oppty_name,
			cust_no,
			(select cust_name from tb_cust cust where cust.cust_no = opty.cust_no) cust_name,
			case when (select concat(phone_area_no, phone_no) from tb_cust_phone p where p.cust_no = opty.cust_no) is null then '' 
			else (select concat(phone_area_no, phone_no) from tb_cust_phone p where p.cust_no = opty.cust_no) end as cust_phone,
			(select emp_name  from tb_emp  emp  where emp.emp_no = opty.emp_no) emp_name,
			(select code_name from tb_code where code_no = '1010' and code = oppty_status_cd) oppty_status_cd,
			(select code_name from tb_code where code_no = '1011' and code = oppty_stage_cd)  oppty_stage_cd,
			exp_close_day,
			(select code_name from tb_code where code_no = '1008' and code = dtype_cd) dtype_cd,
			(select code_name from tb_code where code_no = '1012' and code = purchase_type) purchase_type,
			(select code_name from tb_code where code_no = '1014' and code = rec_per_cd) rec_per_cd,
			create_date
		FROM
			tb_oppty opty
		WHERE
			del_yn = 'N'
			<if test="oppty_no_srch != null and oppty_no_srch != ''">
				AND (oppty_no like concat('%', #{oppty_no_srch}, '%'))
			</if>
			<if test="oppty_name_srch != null and oppty_name_srch != ''">
				AND (oppty_name like concat('%', #{oppty_name_srch}, '%'))
			</if>
			<if test="cust_name_srch != null and cust_name_srch != ''">
				AND (cust_no in ( select cust_no from tb_cust where cust_name like concat('%', #{cust_name_srch}, '%')))
			</if>
			<if test="emp_name_srch != null and emp_name_srch != ''">
				AND (emp_no like ( select emp_no from tb_emp where emp_name like concat('%', #{emp_name_srch}, '%')))
			</if>
			<if test="oppty_status_cd_srch != null and oppty_status_cd_srch != ''">
				AND (oppty_status_cd like concat('%', #{oppty_status_cd_srch}, '%'))
			</if>
			<if test="oppty_stage_cd_srch != null and oppty_stage_cd_srch != ''">
				AND (oppty_stage_cd like concat('%', #{oppty_stage_cd_srch}, '%'))
			</if>
			<if test="exp_close_dt_srch != null and exp_close_dt_srch != ''">
				AND (exp_close_day like concat('%', DATE_FORMAT(#{exp_close_dt_srch}, '%Y%m%d'), '%'))
			</if>
			<if test="dtype_cd_srch != null and dtype_cd_srch != ''">
				AND (dtype_cd like concat('%', #{dtype_cd_srch}, '%'))
			</if>
			<if test="purchase_type_srch != null and purchase_type_srch != ''">
				AND (purchase_type like concat('%', #{purchase_type_srch}, '%'))
			</if>
		ORDER BY update_date DESC
		) P
<!-- 		<![CDATA[WHERE SAL.RNUM>=#{page.startRow} and SAL.RNUM<=#{page.endRow}]]> -->
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	<!-- OpptyItem List -->
	<select id="opptyItemList" resultType="com.core.plus.oppty.vo.OpptyItemVO">
		SELECT
			oppty_no,
			main_cate_cd,
			(select code_name from tb_code where code_no = '1015' and code = main_cate_cd) main_cate_name,
			mid_cate_cd,
			(select code_name from tb_code where code_no = '1016' and code = mid_cate_cd) mid_cate_name,
			small_cate_cd,
			(select code_name from tb_code where code_no = '1017' and code = small_cate_cd) small_cate_name,
			qty,
			list_price,
			(qty*list_price) AS total_price,
			dc_price,
			((qty*list_price)-dc_price) AS offer_price,
			DATE_FORMAT(payment_day, '%Y-%m-%d') AS payment_day
		FROM
			tb_oppty_item
		WHERE
			oppty_no = #{oppty_no}
	</select>
	
	<!-- excel export -->
	<select id="opptyExcelExport" parameterType="string" resultType="map">
		SELECT X.*
		FROM ( 
			SELECT 
				oppty_no,
				oppty_name,
				cust_no,
				(select cust_name from tb_cust cust where cust.cust_no = opty.cust_no) cust_name,
				case when (select concat(phone_area_no, phone_no) from tb_cust_phone p where p.cust_no = opty.cust_no) is null then '' 
				else (select concat(phone_area_no, phone_no) from tb_cust_phone p where p.cust_no = opty.cust_no) end as cust_phone,
				(select emp_name  from tb_emp  emp  where emp.emp_no = opty.emp_no) emp_name,
				(select code_name from tb_code where code_no = '1010' and code = oppty_status_cd) oppty_status_cd,
				(select code_name from tb_code where code_no = '1011' and code = oppty_stage_cd)  oppty_stage_cd,
				exp_close_day,
				(select code_name from tb_code where code_no = '1008' and code = dtype_cd) dtype_cd,
				(select code_name from tb_code where code_no = '1012' and code = purchase_type) purchase_type,
				(select code_name from tb_code where code_no = '1014' and code = rec_per_cd) rec_per_cd,
				date_format(opty.create_date, '%Y-%m-%d %H:%i') as create_date
			FROM
				tb_oppty opty
			WHERE
				del_yn = 'N'
				<if test="oppty_no_srch != null and oppty_no_srch != ''">
					AND (oppty_no like concat('%', #{oppty_no_srch}, '%'))
				</if>
				<if test="oppty_name_srch != null and oppty_name_srch != ''">
					AND (oppty_name like concat('%', #{oppty_name_srch}, '%'))
				</if>
				<if test="cust_name_srch != null and cust_name_srch != ''">
					AND (cust_no in ( select cust_no from tb_cust where cust_name like concat('%', #{cust_name_srch}, '%')))
				</if>
				<if test="emp_name_srch != null and emp_name_srch != ''">
					AND (emp_no like ( select emp_no from tb_emp where emp_name like concat('%', #{emp_name_srch}, '%')))
				</if>
				<if test="oppty_status_cd_srch != null and oppty_status_cd_srch != ''">
					AND (oppty_status_cd like concat('%', #{oppty_status_cd_srch}, '%'))
				</if>
				<if test="oppty_stage_cd_srch != null and oppty_stage_cd_srch != ''">
					AND (oppty_stage_cd like concat('%', #{oppty_stage_cd_srch}, '%'))
				</if>
				<if test="exp_close_dt_srch != null and exp_close_dt_srch != ''">
					AND (exp_close_day like concat('%', DATE_FORMAT(#{exp_close_dt_srch}, '%Y%m%d'), '%'))
				</if>
				<if test="dtype_cd_srch != null and dtype_cd_srch != ''">
					AND (dtype_cd like concat('%', #{dtype_cd_srch}, '%'))
				</if>
				<if test="purchase_type_srch != null and purchase_type_srch != ''">
					AND (purchase_type like concat('%', #{purchase_type_srch}, '%'))
				</if>
			ORDER BY update_date DESC
		)X
	</select>
	
	<!-- Detail -->
	<select id="opptyDetail" resultType="com.core.plus.oppty.vo.OpptyVO" parameterType="com.core.plus.oppty.vo.OpptyVO">
		SELECT 
			oppty_no,
			oppty_name,
			cust_no,
			(select cust_name from tb_cust cust where cust.cust_no = opty.cust_no) cust_name,
			emp_no,
			(select emp_name  from tb_emp  emp  where emp.emp_no = opty.emp_no) emp_name,
			oppty_status_cd,
			(select code_name from tb_code where code_no = '1010' and code = oppty_status_cd) oppty_status_name,
			oppty_stage_cd,
			(select code_name from tb_code where code_no = '1011' and code = oppty_stage_cd)  oppty_stage_name,
			score,
			DATE_FORMAT(exp_close_day, '%Y-%m-%d') exp_close_day,
			sur_plan_cn,
			dtype_cd,
			(select code_name from tb_code where code_no = '1008' and code = dtype_cd) dtype_name,
			purchase_type,
			(select code_name from tb_code where code_no = '1012' and code = purchase_type) purchase_type_name,
			payment_cd,
			(select code_name from tb_code where code_no = '1013' and code = payment_cd) payment_cd_name,
			rec_per_cd,
			(select code_name from tb_code where code_no = '1014' and code = rec_per_cd) rec_per_cd_name,
			remark_cn
		FROM
			tb_oppty opty
		WHERE
			oppty_no = #{ oppty_no }
	</select>
	
	<!-- code 값 불러오는 쿼리 -->
	<select id="opptyStatusCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1010'
	</select>
	<select id="opptyStageCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1011'
	</select>
	<select id="opptyDtypeCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1018'
	</select>
	<select id="opptyPurchaseType" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1012'
	</select>
	<select id="opptyPaymentCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1013'
	</select>
	<select id="opptyRecPerCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1014'
	</select>
	
	<!-- Index 채번 -->
	<select id="opptyNoIndex" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT 
			IF(SUBSTR(MAX(oppty_no), 1, 10) = DATE_FORMAT(now(), '%Y%m%d%H'), 
			MAX(oppty_no)+1, concat(DATE_FORMAT(now(), '%Y%m%d%H'),'00001')) oppty_no 
		FROM tb_oppty USE INDEX(PRIMARY)
	</select>
	
	<!-- CUD -->
	<insert id="oppty_single_insert" parameterType="com.core.plus.oppty.vo.OpptyVO">
		<selectKey keyProperty="oppty_no" resultType="String" order="BEFORE">
			SELECT IF(SUBSTR(MAX(oppty_no), 1, 10) = DATE_FORMAT(now(), '%Y%m%d%H'), MAX(oppty_no)+1, concat(DATE_FORMAT(now(), '%Y%m%d%H'),'00001')) oppty_no 
			FROM tb_oppty USE INDEX(PRIMARY)
		</selectKey>
		INSERT INTO tb_oppty
			(oppty_no, oppty_name, cust_no, emp_no, oppty_status_cd, oppty_stage_cd, score, 
			 exp_close_day, dtype_cd, sur_plan_cn, purchase_type, payment_cd, rec_per_cd, remark_cn)
		VALUES
			(
			 #{oppty_no},
			 #{oppty_name}, #{cust_no}, #{emp_no}, #{oppty_status_cd}, #{oppty_stage_cd}, #{score}, DATE_FORMAT(#{exp_close_day}, '%Y%m%d'), #{dtype_cd}, 
			 #{sur_plan_cn}, #{purchase_type},#{payment_cd}, #{rec_per_cd}, #{remark_cn}
            )
	</insert>
	
	<insert id="oppty_multi_insert" parameterType="com.core.plus.oppty.vo.OpptyVO">
		<selectKey keyProperty="oppty_no" resultType="String" order="BEFORE">
			SELECT IF(SUBSTR(MAX(oppty_no), 1, 10) = DATE_FORMAT(now(), '%Y%m%d%H'), MAX(oppty_no)+1, concat(DATE_FORMAT(now(), '%Y%m%d%H'),'00001')) oppty_no 
			FROM tb_oppty USE INDEX(PRIMARY)
		</selectKey>
		INSERT INTO	tb_oppty
			(oppty_no, oppty_name, cust_no, emp_no, oppty_status_cd, oppty_stage_cd, score, 
			 exp_close_day, dtype_cd, sur_plan_cn, purchase_type, payment_cd, rec_per_cd, remark_cn)
		VALUES
			(
			 #{oppty_no},
			 #{oppty_name}, #{cust_no}, #{emp_no}, #{oppty_status_cd}, #{oppty_stage_cd}, #{score}, DATE_FORMAT(#{exp_close_day}, '%Y%m%d'), #{dtype_cd}, 
			 #{sur_plan_cn}, #{purchase_type},#{payment_cd}, #{rec_per_cd}, #{remark_cn}
            )
	</insert>
	
	<update id="opptyEdit" parameterType="com.core.plus.oppty.vo.OpptyVO">
		UPDATE tb_oppty
		SET
			oppty_name=#{oppty_name}, cust_no=#{cust_no}, emp_no=#{emp_no}, oppty_status_cd=#{oppty_status_cd},
			oppty_stage_cd=#{oppty_stage_cd}, score=#{score}, exp_close_day=DATE_FORMAT(#{exp_close_day}, '%Y%m%d'), dtype_cd=#{dtype_cd},
			sur_plan_cn=#{sur_plan_cn}, purchase_type=#{purchase_type}, payment_cd=#{payment_cd}, rec_per_cd=#{rec_per_cd},
			remark_cn=#{remark_cn}
		WHERE
			oppty_no=#{oppty_no}
	</update>
	
	<update id="opptyDelete" parameterType="com.core.plus.oppty.vo.OpptyVO">
		UPDATE tb_oppty
		SET
			del_yn = 'Y'
		WHERE
			oppty_no=#{oppty_no}
	</update>
	
	<!-- OpptyItem -->
	<insert id="opptyItemInsert" parameterType="com.core.plus.oppty.vo.OpptyItemVO">
		INSERT INTO tb_oppty_item
			(oppty_no, main_cate_cd, mid_cate_cd, small_cate_cd, qty, list_price, dc_price, payment_day)
		VALUES
			(
				#{oppty_no}, #{main_cate_cd}, #{mid_cate_cd}, #{small_cate_cd}, #{qty}, #{list_price}, #{dc_price}, DATE_FORMAT(#{payment_day}, '%Y%m%d')
			)
	</insert>

	<delete id="opptyItemDelete" parameterType="String">
		DELETE FROM 
			tb_oppty_item
		WHERE
			oppty_no = #{oppty_no}
	</delete>
	
	
	<!-- Popup -->
	<select id="custPopupList" resultType="com.core.plus.contact.cust.vo.CustVO" parameterType="java.util.Map">
		SELECT P.*
		FROM 
		(
			SELECT
				cust_no,
				cust_name
			FROM
				tb_cust
			WHERE
				del_yn = 'N'
			<if test="s_cust_name != null and s_cust_name != ''">
				AND (cust_name like concat('%', #{s_cust_name}, '%'))
			</if>
		) P
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	<select id="empPopupList" resultType="com.core.plus.emp.vo.EmpVO" parameterType="java.util.Map">
		SELECT P.*
		FROM 
		(
			SELECT
				emp_no,
				emp_name
			FROM
				tb_emp
			WHERE
				del_yn = 'N'
			<if test="s_emp_name != null and s_emp_name != ''">
				AND (emp_name like concat('%', #{s_emp_name}, '%'))
			</if>
		) P
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	<select id="mainCatePopupList" resultType="com.core.plus.oppty.vo.OpptyItemVO">
		SELECT P.*
		FROM (
			SELECT
				code AS main_cate_cd,
				code_name AS main_cate_name
			FROM
				tb_code
			WHERE
				code_no='1015'
			<if test="s_main_cate_name != null and s_main_cate_name != ''">
				AND (code_name like concat('%', #{s_main_cate_name}, '%'))
			</if>
		) P
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	<select id="midCatePopupList" resultType="com.core.plus.oppty.vo.OpptyItemVO">
		SELECT P.*
		FROM (
			SELECT
				DISTINCT a.code AS mid_cate_cd,
				a.code_name AS mid_cate_name
			FROM
				tb_code a, tb_price_book b
			WHERE
				a.code=b.mid_cate_cd
				AND a.code_no='1016'
				AND b.main_cate_cd=#{main_cate_cd}
			<if test="s_mid_cate_name != null and s_mid_cate_name != ''">
				AND (a.code_name like concat('%', #{s_mid_cate_name}, '%'))
			</if>
		) P
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	<select id="smallCatePopupList" resultType="com.core.plus.oppty.vo.OpptyItemVO">
		SELECT P.*
		FROM (
				SELECT
					DISTINCT a.code AS small_cate_cd,
					a.code_name AS small_cate_name,
					b.list_price
				FROM
					tb_code a, tb_price_book b
				WHERE
					a.code = b.small_cate_cd
					AND b.main_cate_cd = #{main_cate_cd}
					AND b.mid_cate_cd  = #{mid_cate_cd}
					AND a.code_no='1017'
				<if test="s_small_cate_name != null and s_small_cate_name != ''">
					AND (a.code_name like concat('%', #{s_small_cate_name}, '%'))
				</if>
		) P
		LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
</mapper>