<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org">
	<!-- 전체 행의 개수 -->
	<select id="orgListCount" parameterType="map" resultType="int">	
		select	count(*)
		from	(SELECT  a.org_id as org_id
					,	a.org_nm as org_nm
					,	concat(a.org_ph1,'-',a.org_ph2,'-',a.org_ph3) as org_ph
					,	a.org_ph1 as org_ph1
					,	a.org_ph2 as org_ph2
					,	a.org_ph3 as org_ph3
					,   a.rep_emp_id as rep_emp_id
					,	b.user_nm as rep_emp_nm
					,	concat(a.fax_no1,'-',a.fax_no2,'-',a.fax_no3) as fax_no
					,	a.fax_no1 as fax_no1
					,	a.fax_no2 as fax_no2
					,	a.fax_no3 as fax_no3
					, 	a.act_yn as act_yn
				FROM 	tb_org a
				LEFT JOIN tb_user b
				ON	a.rep_emp_id = b.user_id
				WHERE 1 = 1
					<if test="org_nm!=null and org_nm!='' ">
					  	and a.org_nm LIKE concat('%',#{org_nm},'%')
					</if> 
				ORDER BY a.org_id DESC) org
		where	1 = 1 
		and org.act_yn = 'Y'	
	</select>
	<!-- 부서관리 리스트  -->
	<select id="orgList" parameterType="java.util.Map" resultType="com.core.plus.info.org.vo.OrgVO">
		SELECT  a.org_id as org_id
			,	a.org_nm as org_nm
			,	concat(a.org_ph1,'-',a.org_ph2,'-',a.org_ph3) as org_ph
			,	a.org_ph1 as org_ph1
			,	a.org_ph2 as org_ph2
			,	a.org_ph3 as org_ph3
			,   a.rep_emp_id as rep_emp_id
			,	b.user_nm as rep_emp_nm
			,	concat(a.fax_no1,'-',a.fax_no2,'-',a.fax_no3) as fax_no
			,	a.fax_no1 as fax_no1
			,	a.fax_no2 as fax_no2
			,	a.fax_no3 as fax_no3
		FROM 	tb_org a
		LEFT JOIN tb_user b
		ON	a.rep_emp_id = b.user_id
		WHERE 1=1
			and a.act_yn = 'Y'
			<if test="org_nm!=null and org_nm!='' ">
			  	and a.org_nm LIKE concat('%',#{org_nm},'%')
			</if> 
		ORDER BY a.org_id DESC
		limit #{page.pageSize} OFFSET #{page.endRow}
	</select>
	<select id="orgDetail" parameterType="String" resultType="com.core.plus.info.org.vo.OrgVO">
		SELECT	a.org_id
			,	a.org_nm
			,	concat(a.org_ph1,'-',a.org_ph2,'-',a.org_ph3)
			,	a.org_ph1 as org_ph1
			,	a.org_ph2 as org_ph2
			,	a.org_ph3 as org_ph3
			,   a.rep_emp_id as rep_emp_id
			,	b.user_nm as rep_emp_nm
			,	concat(a.fax_no1,'-',a.fax_no2,'-',a.fax_no3) as fax_no
			,	a.fax_no1 as fax_no1
			,	a.fax_no2 as fax_no2
			,	a.fax_no3 as fax_no3
			,	a.act_yn
		FROM tb_org a
		LEFT JOIN tb_user b
		ON a.rep_emp_id = b.user_id
		WHERE a.org_id = #{org_id}	
	</select>	
	
	<insert id="orgInsert" parameterType="com.core.plus.info.org.vo.OrgVO">
		<selectKey keyProperty="org_id" resultType="String" order="BEFORE">
         SELECT IF(SUBSTR(MAX(org_id), 1, 3) = 'ORG', concat(SUBSTR(MAX(org_id),1,3),LPAD(SUBSTR(MAX(org_id),4,7)+1,7,'0')), concat('ORG','0000001')) org_id 
         FROM tb_org USE INDEX(PRIMARY)
		</selectKey>
		insert into tb_org
		(org_id,org_type,org_nm,
		org_ph1,org_ph2,org_ph3,
		fax_no1,fax_no2,fax_no3,
		rep_emp_id)
<!-- 		crt_id,crt_dt,mdfy_id,mdfy_dt) -->
		values
		(#{org_id},'ORG1',#{org_nm},
		#{org_ph1},#{org_ph2},#{org_ph3},
		#{fax_no1},#{fax_no2},#{fax_no3},
		#{rep_emp_id})
<!-- 		#{crt_id},to_char(now(),'YYYYMMDDHH24MISS'::text), -->
<!-- 		#{crt_id},to_char(now(),'YYYYMMDDHH24MISS'::text)) -->
<!-- 		<selectKey keyProperty="org_id" order="AFTER" resultType="String"> -->
<!-- 			SELECT (('OR'::text || lpad((currval('mid.s_org_seq'::regclass))::text, 5, '0'::text)))::character varying -->
<!-- 		</selectKey> -->
	</insert>
	
	<update id="orgUpdate" parameterType="com.core.plus.info.org.vo.OrgVO">
		UPDATE tb_org 
		SET
		org_nm =#{org_nm},
		org_ph1 = #{org_ph1},
		org_ph2 = #{org_ph2},
		org_ph3 = #{org_ph3},
		fax_no1 = #{fax_no1},
		fax_no2 = #{fax_no2},
		fax_no3 = #{fax_no3},
		rep_emp_id = #{rep_emp_id},
<!-- 		mdfy_id = #{crt_id}, -->
<!-- 		mdfy_dt = to_char(now(),'YYYYMMDDHH24MISS'::text), -->
		act_yn = #{act_yn}
		WHERE org_id = #{org_id}
	</update>

	<!-- 전체 행의 개수 -->
	<select id="repListCount" parameterType="map" resultType="int">	
		SELECT	count(*)
		FROM 	tb_user a, tb_code b
		WHERE a.user_type_cd = b.code
			AND b.code_no = '1023'
		<if test="rep_user_id != null and rep_user_id !=''">
		   	AND user_id LIKE concat('%',#{rep_user_id},'%')
		   </if>
		   <if test="rep_user_nm != null and rep_user_nm !=''">
			AND user_nm LIKE concat('%',#{rep_user_nm},'%')
		   </if>
	</select>
	
	<select id="repOrgList" resultType="com.core.plus.info.org.vo.OrgVO">
		SELECT a.user_id,a.user_nm,b.code_name as user_type_nm
		FROM tb_user a, tb_code b
		WHERE a.user_type_cd = b.code
			AND b.code_no = '1023'
			<if test="rep_user_id != null and rep_user_id !=''">
		   	AND user_id LIKE concat('%',#{rep_user_id},'%')
		   </if>
		   <if test="rep_user_nm != null and rep_user_nm !=''">
			AND user_nm LIKE concat('%',#{rep_user_nm},'%')
		   </if>
		order by user_id	
		limit #{page.pageSize} OFFSET #{page.endRow}	   
	</select>	
	
	<!-- 부서리스트 삭제(여러개) -->
	<delete id="orgChkDelete" parameterType="String">
		delete
		  from tb_org
		 where org_id = #{org_id}
	</delete>
</mapper>