<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="reply">

 <insert id="addReply">
  INSERT INTO TB_REPLY (REPLY_NO, BOARD_NO, REPLY_CONTENT, CREATED_BY)
  values
   ((select *from (select max(reply_no)+1 from tb_reply) next), #{BOARD_NO ,jdbcType=VARCHAR}, #{REPLY_CONTENT ,jdbcType=VARCHAR}, #{CREATED_BY, jdbcType=VARCHAR})
 </insert> 

<select id ="replyList" parameterType="int" resultType="com.core.plus.board.vo.ReplyVO">
SELECT
*
FROM TB_REPLY
WHERE BOARD_NO = #{BOARD_NO} 
</select>

<update id="modifyReply" parameterType="com.core.plus.board.vo.ReplyVO">
UPDATE TB_REPLY
SET REPLY_CONTENT = #{REPLY_CONTENT}
WHERE REPLY_NO = #{REPLY_NO}
</update>

 <delete id="removeReply" parameterType="String" > 
 delete from tb_reply
 	where REPLY_NO = #{REPLY_NO}
 </delete>


	<select id="replyListCount" parameterType="java.util.Map" resultType="int">
	    select count(*) as cnt
		 FROM TB_REPLY
		where BOARD_NO = #{BOARD_NO}   
	 </select>
		
<select id="SearchList"  parameterType="map" resultType="com.core.plus.board.vo.ReplyVO">
SELECT X.*
FROM (  
         SELECT REPLY_NO, REPLY_CONTENT, CREATED, CREATED_BY
         FROM TB_REPLY
         WHERE 
         	BOARD_NO = #{BOARD_NO} 
         ORDER BY REPLY_NO DESC 
     ) X
 LIMIT #{page.limitStartNum}, #{page.pageSize}
      
</select>		
		
		
	 <!-- 리스트 개수 -->
	<select id="selectTotalCount" parameterType="java.util.Map"
		resultType="integer">
		SELECT COUNT(*)
		FROM tb_reply
		where BOARD_NO = #{BOARD_NO} 
	</select>
	
	
	<!-- 전체리스트 -->
	<select id="selectAll" parameterType="java.util.Map"
		resultType="com.core.plus.board.vo.ReplyVO">
		SELECT b.*
		FROM ( 
		SELECT
		*
		FROM tb_reply
		WHERE BOARD_NO = #{BOARD_NO} 
		ORDER BY REPLY_NO DESC 
		) b
	 LIMIT #{page.limitStartNum}, #{page.pageSize}
	</select>
	
	
	<select id="replyCount" parameterType="int" resultType="int">
	select count(reply_no) 
	from tb_reply
	where BOARD_NO = #{BOARD_NO}
	</select>
	
	 

</mapper>