<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<!-- 전체 행의 개수 -->
	<select id="selectUserListCount" parameterType="String" resultType="int">
		SELECT	count(*)
		from 	mid.tm_com_user a,	mid.tm_com_org b,
			mid.tc_code_mast c	
		where a.org_id = b.org_id
		and c.type = 'User Type Code'
		and c.name = a.user_type_cd
		<if test="user_id!=null and user_id!='' ">
		  	and a.user_id LIKE '%' || #{user_id} || '%'
		</if>
		<if test="user_nm!=null and user_nm!='' ">
		  	and a.user_nm LIKE '%' || #{user_nm} || '%' 
		</if>	
		<if test="org_nm!=null and org_nm!='' ">
		  	and b.org_nm LIKE '%' || #{org_nm} || '%'
		</if>
	</select>
	
	<!-- 사용자관리 리스트  -->	
	<select id="userList" parameterType="java.util.Map" resultType="ibs.mid.bon.manager.info.user.vo.UserVO">
		SELECT 	a.user_id,
			a.user_nm,
			b.org_nm,
			a.email_id || '@' || a.email_dm as email,
			a.email_id,a.email_dm,
			a.cell_ph1 || '-' || a.cell_ph2 || '-' || a.cell_ph3 as cell_ph,				
			a.cell_ph1 as cell_ph1,
			a.cell_ph2 as cell_ph2,
			a.cell_ph3 as cell_ph3,
			c.name as user_type_cd,
			c.val as user_type_nm,
			a.act_yn,
			a.pwd_err_cnt,
			a.crt_dt
		FROM 	mid.tm_com_user a,	mid.tm_com_org b,
			mid.tc_code_mast c	
		WHERE a.org_id = b.org_id
		AND c.type = 'User Type Code'
		AND c.name = a.user_type_cd
		<if test="user_id!=null and user_id!='' ">
		  	AND a.user_id LIKE '%' || #{user_id} || '%'
		</if>
		<if test="user_nm!=null and user_nm!='' ">
		  	AND a.user_nm LIKE '%' || #{user_nm} || '%' 
		</if>	
		<if test="org_nm!=null and org_nm!='' ">
		  	AND b.org_nm LIKE '%' || #{org_nm} || '%'
		</if>
		ORDER BY a.crt_dt DESC
		limit #{page.pageSize} OFFSET #{page.endRow}
	</select>
	
	<select id="userDetail" parameterType="String" resultType="ibs.mid.bon.manager.info.user.vo.UserVO">
		SELECT 
		a.user_id,
		a.user_nm,
		b.name as user_type_cd,
		b.val as user_type_nm,
		a.cell_ph1,
		a.cell_ph2,
		a.cell_ph3,
		a.home_ph1,
		a.home_ph2,
		a.home_ph3,
		a.com_ph1,
		a.com_ph2,
		a.com_ph3,
		a.email_id,
		a.email_dm,
		a.org_id,
		c.org_nm,
		a.act_yn
		FROM mid.tm_com_user a,mid.tc_code_mast b
		,mid.tm_com_org c
		WHERE a.user_type_cd = b.name
		AND a.org_id = c.org_id
		AND b.type = 'User Type Code'
		AND user_id = #{user_id}	
	</select>
	<insert id="userInsert" parameterType="ibs.mid.bon.manager.info.user.vo.UserVO">
		INSERT INTO mid.tm_com_user(
		user_id,user_nm,
		pwd,user_type_cd,
		cell_ph1,cell_ph2,cell_ph3,
		home_ph1,home_ph2,home_ph3,
		com_ph1,com_ph2,com_ph3,
		email_id,email_dm,
		org_id
		)
		VALUES(#{user_id},#{user_nm},#{pwd},#{user_type_cd},#{cell_ph1},#{cell_ph2},#{cell_ph3}
		,#{home_ph1},#{home_ph2},#{home_ph3},#{com_ph1},#{com_ph2},#{com_ph3},#{email_id},#{email_dm}
		,#{org_id})
	</insert>
	<update id="userUpdate" parameterType="ibs.mid.bon.manager.info.user.vo.UserVO">
		UPDATE mid.tm_com_user 
		SET
		user_nm = #{user_nm},
		<if test="pwd!=null and pwd!=''">
			pwd = #{pwd},
		</if>
		user_type_cd = #{user_type_cd},
		cell_ph1 = #{cell_ph1},
		cell_ph2 = #{cell_ph2},
		cell_ph3 = #{cell_ph3},
		home_ph1 = #{home_ph1},
		home_ph2 = #{home_ph2},
		home_ph3 = #{home_ph3},
		com_ph1 = #{com_ph1},
		com_ph2 = #{com_ph2},
		com_ph3 = #{com_ph3},
		email_id = #{email_id},
		email_dm = #{email_dm},
		org_id = #{org_id},
		mdfy_id = #{crt_id},
		mdfy_dt = to_char(now(),'YYYYMMDDHH24MISS'),
		pwd_err_cnt = 0,
		act_yn = #{act_yn}
		WHERE user_id = #{user_id}
	</update>
	<select id="authList" resultType="ibs.mid.bon.manager.info.user.vo.UserVO">
		select auth_id,
				auth_nm
		from mid.tm_com_auth
	</select>
	<select id="userAuthList" parameterType="String" resultType="ibs.mid.bon.manager.info.user.vo.UserVO">
		select  a.user_id as user_id,
				a.auth_id as auth_id,
				b.auth_nm as auth_nm
		from mid.tm_com_user_auth a,mid.tm_com_auth b
		where a.auth_id = b.auth_id
		and a.user_id = #{user_id}
	</select>
	<insert id="userAuthInsert" parameterType="Map">
		INSERT INTO mid.tm_com_user_auth(user_id,auth_id)
		VALUES(#{user_id},#{auth_id})
	</insert>
	<update id="userAuthDelete" parameterType="String">		
		DELETE
		FROM mid.tm_com_user_auth
		WHERE user_id = #{user_id}
	</update>
	
	
	<!-- 부서 모달 리스트 -->
	<select id="userOrgList" parameterType="map" resultType="map">
		SELECT org_id,org_nm 
		FROM mid.tm_com_org
		WHERE 1=1
			<if test="org_id!=null and org_id!='' ">
			  	AND org_id = #{org_id}
			</if>
			<if test="org_nm!=null and org_nm!='' ">
			  	AND org_nm LIKE '%' || #{org_nm} || '%'
			</if>
		ORDER BY org_id		
		limit #{page.pageSize} OFFSET #{page.endRow}
	</select>
	
	<!-- 부서 모달 리스트 카운트 -->
	<select id="userOrgListCount" parameterType="map" resultType="int">
		SELECT COUNT(a.*)
		FROM(
			SELECT org_id,org_nm 
			FROM mid.tm_com_org
			WHERE 1=1
				<if test="org_id!=null and org_id!='' ">
			  	AND org_id = #{org_id}
				</if>
				<if test="org_nm!=null and org_nm!='' ">
				  	AND org_nm LIKE '%' || #{org_nm} || '%'
				</if>
			ORDER BY org_id
		) a		
	</select>
	
	
	<select id="userType" resultType="ibs.mid.bon.manager.info.user.vo.UserVO">
	 	SELECT 
		 	name as user_type_cd,
		 	val as user_type_nm
		FROM mid.tc_code_mast
		WHERE type ='User Type Code'
	</select>	
	<delete id="userDelete" parameterType="String">
		DELETE
		FROM mid.tm_com_user
		WHERE user_id = #{user_id}	
	</delete>	
	
	<!-- 사용자리스트 삭제(여러개) -->
	<delete id="userChkDelete" parameterType="String">
		delete
		  from mid.tm_com_user
		 where user_id = #{user_id}
	</delete>
	<delete id="userChkDelete1" parameterType="String">
		DELETE
		FROM mid.tm_com_user_auth
		WHERE user_id = #{user_id}
	</delete>
</mapper>